table, th, td {
    border: 2px solid black;
    background-color:lightgray;
    padding: 10px;
    margin:100px
}
body {
  background-color: plum;
}
h1 {
  background-color: pink;
} 
h3{
  background-color: pink;
}



.img1 img{
  height:150px;
  width:150px;
}

.img3 img{
  height:150px;
  width:150px;
  border:5px red;
  border-width: 5px;
  padding:30px;
  border-style: dashed;
}
.img4 img{
  height:150px;
  width:150px;
  border:5px red;
  border-width: 5px;
  padding:30px;
  border-style: dashed;
}

.img5 img{
  height:150px;
  width:150px;
  border:5px red;
  border-width: 5px;
  padding:30px;
  border-style: dashed;
}

.bah {
text-align:center;
text-decoration: underline;
text-transform:uppercase;
font-family:monospace;
font-size: 25px;
}

.link1{
  background-color:greenyellow;
  margin: 50px 0px 0px 50px;
  padding: 5px 10px 5px 10px;
  color:antiquewhite;
}
.link1:hover{
  background-color:red;
  margin: 50px 0px 0px 50px;
  padding: 5px 10px 5px 10px;
  color: white;
}

.link2{
  background-color: black;
  color:white;
  margin: 50px 0px 0px 50px;
  padding: 5px 10px 5px 10px;
}

.link2:visited{
  background-color: grey;
  color:white;
  margin: 50px 0px 0px 50px;
  padding: 5px 10px 5px 10px;
}

.link3{
  background-color:blue;
  color:white;
  margin: 50px 0px 0px 50px;
  padding: 5px 10px 5px 10px;
}

.link3:active{
  background-color:orangered;
  color:white;
  margin: 50px 0px 0px 50px;
  padding: 5px 10px 5px 10px;
}